<%= image_tag "logo.png", class: "" %>

<div class="row">
  <% @all_events.each do |event| %>
    <div class="col-md-4">
      <h2><%= event.title %></h2>
      <p><%= event.description %></p>
      <p>Date de debut : <%= event.start_date %></p>
      <p>Durée : <%= event.duration %></p>
      <p>Prix : <%= event.price %></p>
      <p>Endroit : <%= event.location %></p>
      <p><a class="btn btn-secondary" href="<%= event_path(event.id) %>" role="button">View details »</a></p>
    </div>
  <% end %>  
</div>