<p>ZBEUB ZBEUB</p>
<%= form_for :users, :url => { :action => "create"} do %>
  <%= text_field_tag(:e) %><br>
  <%= text_field_tag(:e) %><br>
  <%= text_field_tag(:e) %><br>
  <%= text_field_tag(:e) %><br>
  <%= text_field_tag(:e) %>
  <%= submit_tag("s'inscrire") %>
<% end %>